<header class="app-bar fixed-top" data-role="appbar">
    {% if user.is_authenticated %}
        <a href="{% url 'users.views.info_usuario' %}" class="app-bar-element branding">
            <img src="{{ STATIC_URL }}images/wn8.png" style="height: 28px; display: inline-block; margin-right: 10px;"> {{ user.username|upper }}
        </a>
    {% else %}
        <a href="/" class="app-bar-element branding">
            <img src="{{ STATIC_URL }}images/wn8.png" style="height: 28px; display: inline-block; margin-right: 10px;"> SEDES
        </a>
    {% endif %}

    <ul class="app-bar-menu">
        {% if user.is_authenticated %}
            {% if perms.gestion %}
                <li>
                    <a href="{% url 'gestion.views.index_gestion' %}">Gestion</a>
                </li>
            {% endif %}
            {% if perms.centrosalud or perms.actividad or perms.grupo %}
                <li>
                    <a href="#" class="dropdown-toggle">Institucion</a>
                    <ul  class="d-menu" data-role="dropdown">
                        {% if perms.centrosalud %}
                            <li>
                                <a href="{% url 'centrosalud.views.index' %}">Centros de salud</a>
                            </li>
                        {% endif %}
                        {% if perms.actividad %}
                            <li>
                                <a href="{% url 'actividad.views.index_actividad' %}">Actividades</a>
                            </li>
                        {% endif %}
                        {% if perms.grupo %}
                            <li>
                                <a href="{% url 'grupo.views.index_grupo' %}">Grupos</a>
                            </li>
                        {% endif %}
                    </ul>
                </li>
            {% endif %}
            {% if perms.incripcion %}
                <li>
                    <a href="{% url 'inscripcion.views.index_inscripcion' %}">Inscripciones</a>
                </li>
            {% endif %}
            {% if perms.users.usuarios %}
                <li>
                    <a href="{% url 'users.views.index_usuarios' %}">Usuarios</a>
                </li>
            {% endif %}
            <li>
                <a href="">Registros</a>
            </li>
        {% endif %}
    </ul>

    <div class="app-bar-element place-right">
        <a class="dropdown-toggle fg-white">
            <span class="mif-enter"></span>
            {% if user.is_authenticated %}
                Ver mi Informacion
            {% else %}
                Login
            {% endif %}
        </a>
        <div class="app-bar-drop-container bg-white fg-dark place-right" data-role="dropdown" data-no-close="true">
            <div class="padding20">
                {% if user.is_authenticated %}
                    <div style="width: 200px;">
                        <span class="mif-4x mif-user"></span>
                        <p> <strong>Usuario: </strong>{{ user.username }}</p>
                        <p>
                            {% if request.session.perfil %}
                                <a href="{% url 'users.views.change_profile' %}" class="button primary">Modificar Perfil</a>
                            {% else %}
                                <a href="{% url 'users.views.complete_profile' %}" class="button info">Completar Perfil</a>
                            {% endif %}
                        </p>
                        <p>
                            <a href="{% url 'users.views.logout_user' %}" class="button danger block-shadow-danger">
                                <span class="mif-cancel"></span> Cerrar Sesion
                            </a>
                        </p>
                    </div>
                {% else %}
                    <form action="{% url 'users.views.login_user' %}" method="post">{% csrf_token %}
                        <h4 class="text-light">Iniciar Sesion</h4>
                        <div class="input-control text">
                            <span class="mif-user prepend-icon"></span>
                            <input type="text" placeholder="Usuario" id="username" name="username">
                        </div>
                        <div class="input-control text">
                            <span class="mif-lock prepend-icon"></span>
                            <input type="password" placeholder="Contraseña" id="password" name="password">
                        </div>
                        <div class="form-actions">
                            <button type="submit" class="button success">Entrar</button>
                            <a href="/" class="button danger">Cancelar</a>
                        </div>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="app-bar-divider place-right"></div>

    <span class="app-bar-pull"></span>
</header>
