<ul class="v-menu block-shadow-impact min-size-required">
    <li class="menu-title">
        Opciones
    </li>
    <li>
        <a href="{% url 'grupo.views.index_grupo' %}"  class="fg-darkBlue">
            <span class="mif-home icon"></span> Listar Grupos
        </a>
    </li>
    <li>
        <a href="{% url 'grupo.views.new_grupo' %}"  class="fg-darkBlue">
            <span class="mif-plus icon"></span> Nuevo Grupo
        </a>
     </li>
    <li class="divider"></li>
    <li>
        <a href="{% url 'grupo.views.list_change_grupo' %}" class="fg-darkBlue">
            <span class="mif-pencil icon"></span> Modificar Grupo
        </a>
    </li>
</ul>